.imageMain{
    width:1000px;
    height: 100vh;
    position: relative;
    margin-top:5vh;
    left:25%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px; /* 원하는 간격으로 조절 */
}

.imageMain img{
    margin-top: 10px;
    border: 2px solid silver;
    border-radius: 5px;
    padding : 15px;
}

.image-display-field {
    width:600px;
    height:600px;
}

.image-manipulation-container{
    display: block;
    flex-direction: column;
}
.image-manipulation-bar{
    border: 2px solid #333;
    padding: 5px;
}
canvas{
    display: block;
    border:solid 2px #333;
}